# 3. 리스트 자료형

- 대괄호([ ])로 감싸주고 각 요솟값은 쉼표( , )로 구분
- 리스트명 = [요소1, 요소2, ... ]
- 리스트 안에는 어떤 자료형도 포함시킬 수 있다. 심지어 리스트까지도
- 리스트의 인덱싱, 슬라이싱

In [1]:
a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is', 3]]

In [3]:
b[0]

1

In [4]:
# 요소끼리 덧셈 가능

b[0]+b[1]

3

In [6]:
# 요소 안의 요소 인덱싱

e[2][1]

'is'

In [8]:
# 슬라이싱

d[:3]

[1, 2, 'Life']

In [9]:
e[2][:2]

['Life', 'is']

In [13]:
# 리스트 더하기

a = [1, 2, 3]
b = [4, 5, 6]
a+b

[1, 2, 3, 4, 5, 6]

In [14]:
# 리스트 반복

a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [15]:
# 리스트 길이

len(a)

3

In [16]:
# 요소 인덱싱해서 더하려면 같은 타입이어야 함

a = [1, 'a']
a[0]+a[1]

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [20]:
# 요소 수정

a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

In [22]:
# 요소 삭제 : del 함수

a = [1, 2, 3]
del a[1]
print(a)
b = [1, 2, 3, 4, 5]
del b[3:]   #여러 요소 한번에 삭제 가능
print(b)

[1, 3]
[1, 2, 3]

### ㅇ del 함수 (모든 자료형 가능)
- del 객체 
- 파이썬이 자체적으로 가지고 있는 삭제 함수

## ㅇ 리스트 관련 함수

In [23]:
# 요소 추가 : append(x) : 리스트의 맨 마지막에 x를 추가

a=[1, 2, 3]
a.append(5)
a

[1, 2, 3, 5]

In [25]:
a.append([10, 11])             # 내가 이 셀을 2번 실행했더니 2번 담김
a

[1, 2, 3, 5, [10, 11], [10, 11]]

In [27]:
# 정렬 : sort

a.sort()      # 리스트와 int 사이에 대소관계가 없으므로 sort 불가
a

TypeError: '<' not supported between instances of 'list' and 'int'

In [28]:
a=[1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [29]:
# 알파벳은 정렬 가능

b=['a', 'w', 'u', 'c']
b.sort()
b

['a', 'c', 'u', 'w']

In [30]:
# 뒤집기 : reverse

b.reverse()
b

['w', 'u', 'c', 'a']

In [32]:
# 위치 반환 : index(x) : x값이 있으면 위치 반환

a.index(3)

2

In [33]:
# 없으면 오류
a.index('3')

ValueError: '3' is not in list

In [34]:
# 삽입 insert(a, b) : a번째 위치에 b를 삽입

a=[1, 2, 3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [35]:
# 제거 remove(x) : 첫 번째로 나오는 x를 제거

a=[1, 2, 3, 1, 2, 3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [36]:
# 요소 끄집어내기 pop : 맨 마지막 요소를 돌려주고(return) 그 요소는 삭제

a=[1, 2, 3]
a.pop()

3

In [37]:
a

[1, 2]

In [38]:
# pop(x) : x번째 요소 리턴하고 그 요소 삭제

a = [1, 2, 3]
a.pop(1)

2

In [39]:
a

[1, 3]

In [1]:
# 요소 개수 세기 count(x) : 리스트에 포함된 요소 x의 개수 세기

a = [1, 2, 3, 1]
a.count(1)

2

In [1]:
# 확장 extend(x) : 리스트 x를 더한다    문자열로 치면 += 와 동일 (할당 연산자 : 계산한 값을 원래 값에 할당한다)

a = [1, 2, 3]
a.extend([5])
a

[1, 2, 3, 5]

# 4. 튜플 자료형
- 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 불가

In [3]:
t1 = ()
t2 = (1,)                      # 1개 요소만을 가질 때는 반드시 콤마(,) 붙여야 해
t3 = (1, 2, 3)
t4 = 1, 2, 3                   # 괄호 ( ) 를 생략해도 무방
t5 = ('a', 'b', ('ab', 'cd'))

In [4]:
# 튜플 요솟값 삭제하려 하면

del t3[0]

TypeError: 'tuple' object doesn't support item deletion

In [6]:
# 튜플 요솟값 변경하려 하면

t4[1]='a'

TypeError: 'tuple' object does not support item assignment

**<font color=blue> 실험 : 튜플 안에 리스트 들어갈 수 있나? 수정가능하나? </font>**

In [7]:
a=(1,2, [3,4])

In [9]:
type(a)

tuple

In [10]:
type(a[2])

list

In [11]:
a[0]=3

TypeError: 'tuple' object does not support item assignment

In [17]:
a[2]=[5, 6, 7]

TypeError: 'tuple' object does not support item assignment

In [18]:
a[2][0]

3

In [21]:
a[2][0]=8

In [22]:
a

(1, 2, [8, 4])

**<font color=blue> 답 : 들어갈 수 있고, 리스트 내부는 수정 가능 </font>**

In [23]:
# 인덱싱

t1 = (1, 2, 3)
t1[0]

1

In [24]:
# 슬라이싱

t1[1:]

(2, 3)

In [25]:
# 더하기

t2 = ('a' ,'b')
t1+t2

(1, 2, 3, 'a', 'b')

In [26]:
# 곱하기

t2*3

('a', 'b', 'a', 'b', 'a', 'b')

In [27]:
# 길이 구하기

len(t1)

3

# 5. 딕셔너리 자료형
- 대응관계를 나타내는 자료형 : 연관 배열(Associative array), 해시(Hash) => 파이썬에서는 딕셔너리
- 리스트,튜플처럼 순차적(Sequential)으로 해당 요솟값 구하지 않고 key를 통해 value를 얻는다. -> 순차x이므로 인덱싱x슬라이싱x
- key는 변하지 않는 값 value는 변하는,변하지 않는 값 모두 사용 가능

In [29]:
# {key1:value1, key2:value2, key3:value3}

dic = {'name':'pey', 'phone':'012345', 'birth':'1118'}
a = {1 : 'hi'}
b = {'a' : [1, 2, 3]}    # value에 리스트

In [35]:
# 딕셔너리에 쌍 추가 : 딕셔너리[키]=밸류. 즉, 인덱스 대신 키 사용

a = {1:'a'}
a[2]='b'
a

{1: 'a', 2: 'b'}

In [36]:
a['tt']=[1,2,3]
a

{1: 'a', 2: 'b', 'tt': [1, 2, 3]}

In [37]:
# 요소 삭제 : 키를 이용하면 키:밸류 쌍 삭제

del a['tt']
a

{1: 'a', 2: 'b'}

In [40]:
# key 사용해 value 얻기 : 딕셔너리[키] -> 밸류 나옴

grade = {'pey':10, 'julliet':90}
grade['julliet']

90

In [41]:
# key 중복 불가

a = {1:'a', 1:'b'}
a

{1: 'b'}

In [42]:
# key에 리스트 불가 (딕셔너리도 불가)

b = {[1, 2] : 2}

TypeError: unhashable type: 'list'

In [43]:
# key에 튜플은 가능

c = {(1,2):'a'}
c

{(1, 2): 'a'}

## ㅇ 리스트 관련 함수

In [44]:
# key 리스트 만들기 : keys()

dic = {'name':'pey', 'phone':'012345', 'birth':'1118'}
dic.keys()

dict_keys(['name', 'phone', 'birth'])

In [45]:
type(dic.keys())  # 이전 버전에서는 리스트를 반환했는데, 이제는 dict_keys라는 객체 반환
                  # 리스트를 원한다면 list(원하는애)
                  # 리스트로 변환하지 않더라도 기본적인 반복 구문 실행 가능

dict_keys

In [46]:
# dict_keys 객체 : 리스트와 비슷하게 사용하지만 리스트 고유의 함수 append, insert, pop, remove, sort 사용 x

for k in dic.keys():
    print(k)

name
phone
birth

In [47]:
# 리스트로 변환

list(dic.keys())

['name', 'phone', 'birth']

In [48]:
# value 리스트 만들기 ; values()

dic.values()

dict_values(['pey', '012345', '1118'])

In [49]:
# key, value 쌍(튜플) 얻기 : items()

dic.items()

dict_items([('name', 'pey'), ('phone', '012345'), ('birth', '1118')])

In [50]:
# 비우기 : clear()

dic.clear()
dic

{}

In [51]:
# key로 value 얻기 : get(키)

dic = {'name':'pey', 'phone':'012345', 'birth':'1118'}
dic.get('phone')

'012345'

In [56]:
# get과 키인덱싱 차이는?
# 없는 값 가져올 때 키인덱싱은 오류 / get은 None을 반환
type(dic.get('home'))

NoneType

In [57]:
dic['home']

KeyError: 'home'

In [58]:
# 찾으려는 키 없을 때 디폴트 값 대신 가져오게 하기 : get(찾으려는 키, 디폴트)
dic.get('home', '없다')

'없다'

In [59]:
dic                    # dic에 새로 담아지는 게 아니라, get의 반환값으로 디폴트값을 정할 수 있다는 말

{'name': 'pey', 'phone': '012345', 'birth': '1118'}

In [60]:
# key 있는지 조사 : 키 in 딕셔너리 -> T/F 반환

'home' in dic

False

In [61]:
'phone' in dic

True

# 6. 집합 자료형
- set(리스트, 문자열)
- 중복을 허용하지 않는다.
- 순서가 없다 -> 인덱싱x, 슬라이싱x

In [63]:
s1 = set([1, 2, 3])
s1

{1, 2, 3}

In [64]:
s2 = set('Hello')
s2

{'H', 'e', 'l', 'o'}

In [66]:
# 리스트나 튜플로 변환 가능 (인덱싱 사용하고 싶을 때)

l1 = list(s1)
t1 = tuple(s2)
print(l1)
print(t1)

[1, 2, 3]
('H', 'l', 'o', 'e')

In [68]:
t1

('H', 'l', 'o', 'e')

## <font color=green> Q. s2를 튜플로 바꿀 때 알파벳 순서가 바뀜 </font> 
## <font color=green> 어떤 규칙으로 H l o e 가 된 걸까? </font>

In [69]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

In [70]:
# 교집합 : & 또는 intersection

s1&s2

{4, 5, 6}

In [71]:
s1.intersection(s2)

{4, 5, 6}

In [72]:
# 합집합 : | 또는 union

s1|s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [73]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [74]:
# 차집합 : - 또는 difference

s1 - s2

{1, 2, 3}

In [75]:
s1.difference(s2)

{1, 2, 3}

In [76]:
s2.difference(s1)

{7, 8, 9}

## ㅇ 집합 자료형 관련 함수

In [77]:
# 값 1개 추가 : add()

s1 = set([1, 2, 3])
s1.add(4)
s1

{1, 2, 3, 4}

In [78]:
# 값 여러 개 추가 : update()

s1.update([5, 6, 7])
s1

{1, 2, 3, 4, 5, 6, 7}

In [79]:
# 특정 값 제거 : remove()

s1.remove(3)
s1

{1, 2, 4, 5, 6, 7}

# 7. 불 자료형
- True 참 / False 거짓
- 조건문의 반환 값으로도 사용됨

In [82]:
a = True
b = False
type(a)

bool

In [83]:
# 조건문의 반환값

1==1

True

In [84]:
1>2

False

## ㅇ 자료형의 참/거짓
- 문자열, 리스트, 튜플, 딕셔너리 : 담겨있으면 참, 비어있으면(" ", [ ], ( ), { }) 거짓
- 숫자형: 0 아닌 숫자 참, 0 거짓
- None : 거짓

In [87]:
a = [1, 2, 3, 4]
while a:
    print(a.pop())
    print(a)
    
# pop을 계속 실행하다가 리스트가 비워지면 False 이므로 반복문 멈춤

4
[1, 2, 3]
3
[1, 2]
2
[1]
1
[]

## ㅇ 불 연산

In [88]:
# 자료형의 참 거짓 식별 : bool()
bool('python')

True

In [89]:
bool('')

False

# 8. 자료형의 값을 저장하는 공간, 변수
- 변수 이름 =(assignment기호) 변수에 저장할 값
- 파이썬은 변수에 저장된 값을 스스로 판ㄴ단하여 자료형을 지정 (C나 JAVA와는 다르게)

**a = [1, 2, 3] -> 객체([1, 2, 3])가 자동으로 메모리에 생성 -> a는 리스트[1, 2, 3]이 저장된 메모리의 주소를 가리키게 돼**

In [90]:
# 메모리 주소 확인
a = [1, 2 ,3]
id(a)

116758952

## 객체 복사

In [91]:
a=[1, 2, 3]
b=a                 #b는 a와 완전히 동일, [1, 2, 3]을 참조하는 변수가 1개에서 2개로 늘어난 것 뿐
id(a), id(b)        # a가 가리키는 대상과 b가 가리키는 대상이 동일

(116729512, 116729512)

In [92]:
# 동일한 객체를 가리키고 있는지 판단 : is
a is b

True

In [94]:
# a의 요소를 바꾸었더니 b도 바뀜

a[1]=4
b

[1, 4, 3]

### 주소 다르게 복사 1 ( [:] )
- 전체를 슬라이싱

In [95]:
a = [1, 2, 3]
b = a[:]
a[1]=4
a, b

([1, 4, 3], [1, 2, 3])

### 주소 다르게 복사 2 ( copy 모듈 )
- from copy import copy

In [98]:
from copy import copy
a = [1, 2, 3]
b = copy(a)
b is a

False

### 변수 만드는 다양한 방법

In [104]:
# 여러 개 한번에 선언 -> 튜플 이용

a, b = ('python', 'java')
a

'python'

In [105]:
b

'java'

In [106]:
a, b = 'py', 'ja'   # 오른쪽도 괄호 생략 가능
a, b

('py', 'ja')

In [107]:
# 리스트도 가능

[a, b] = ['s', 't']
b

't'

In [108]:
# 여러 변수에 한 값 대입

a = b = 'python'
a, b

('python', 'python')

In [109]:
# 두 변수의 값 간단히 바꿀 수 있음 - 파이썬!!
a = 3
b = 5
a, b = b, a
a, b

(5, 3)

In [110]:
# 예제
a=[1, 2, 3]
b=[1, 2, 3]
a is b

False

# 연습문제

In [111]:
#5
a = 'a:b:c:d'
b = a.replace(':', '#')
b

'a#b#c#d'

In [112]:
#6
a=[1, 3, 5, 4, 2]
a.sort()
a.reverse()
a

[5, 4, 3, 2, 1]

In [116]:
#7 check
a = ['Life', 'is', 'too', 'short']
result = ' '.join(a)
result

'Life is too short'

In [117]:
#10
a = {'a':90, 'b':80, 'c':70}
result = a.pop('b')
print(a)
print(result)

{'a': 90, 'c': 70}
80

In [118]:
# 11 중복 제거
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)
b = list(aSet)
b

[1, 2, 3, 4, 5]